/*CSS style sheet for Trailer Park Boys Fane Page*/

/*
Global Settings
*/
* {	/* Sets font settings for whole website*/
	color: rgb(214, 29, 29) !important;
	font-family: Impact, Charcoal, sans-serif !important;
	font-style: italic !important;
	text-align: center !important;
	text-shadow: 0px 2px white, 2px 0px white, 0px -2px white, -2px 0px white;
}

/*
NAVBAR and BACKGROUND STYLING
*/ 

html {

	/* Sets base height for background image */
	height: 100%;
}

.siteBackground { /* Background image taken from Youtube (https://www.youtube.com/watch?v=1bhC0cbmre4) screenshot of opening credits */

	background: white url("images/TPBbackground.png") no-repeat scroll center;

	/* Set background to same size as desktop */
	background-size: 100%;

}
.navbarPadding { /* Sets padding from Navbar*/

	padding-top: 70px;
}

.TPBlogo { 	/*Changes image properties for top left logo on navbar*/ 

	width: 200px;
}

.TPBnavbar { /*Styling for nav items in top right navbar*/

	color: FloralWhite;
	font-size: 20px;
}


/*
HOMEPAGE STYLING
*/

.homepageTitle { /*Positioning and styling of Home.html title*/

	/*font settings*/
	font-size: 45px;

	/*container background*/
	background-color: #343a40; /*color taken from inspecting bootstrap css*/
	width: 900px;
	border: 4px solid FloralWhite;
	border-radius: 10px;
	padding: 10px;
	margin-top: 30px;
}

#HPbuttons { /* Homepage button styling*/

	/*font for nav elements on home page*/
	font-size: 35px;
	margin-top: 40px;
	width: 600px;

}

