<!-- 
HomePage for TPB Fan Page
-->



	<!-- Use flexbox to center and align title & nav elements-->
	<div class="d-flex justify-content-center">
		<span class="homepageTitle">{{title}}</span>
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center">
		<span class="homepageTitle" id="HPbuttons">Trivia</span>
		<span class="homepageTitle" id="HPbuttons">Upcoming Tours</span>
		<span class="homepageTitle" id="HPbuttons">Fan Mail</span>
	</div>


<footer class=d-flex >
	

</footer>
