<!-- 
HomePage for TPB Fan Page
-->
<link rel="stylesheet" type="text/css" href="css/overrideStyle.css">

<!-- Use flexbox to center and align title & nav elements-->
<div class="d-flex justify-content-center">
	<span class="TPBbackground">{{title}}</span>
</div>

<div class="d-flex justify-content-center">
	<div class="d-flex flex-column">
			<a class="homeLinks d-flex align-items-center justify-content-center" href="/trivia">Trivia</a>
			<a class="homeLinks d-flex align-items-center justify-content-center" href="/tours">Upcoming Tours</a>
			<a class="homeLinks d-flex align-items-center justify-content-center" href="/fanMail">Fan Mail</a>
	</div>
</div>

<iframe width="500" height="315" src="https://www.youtube.com/embed/a-9vuhaKDxY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="video1Position"></iframe>

<iframe width="500" height="315" src="https://www.youtube.com/embed/eQc-ldoX3yI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="video2Position"></iframe>

<footer>
	<div class="footerPadding footerBackground">
		<div class="d-flex justify-content-center">Follow The Boys!</div>

		<div class="d-flex flex-row justify-content-center">
	<!--	Facebook link -->
			<div class="iconPadding"><a href="https://www.facebook.com/trailerparkboys/"  target="_blank">
				<img src="social-media-logos/png/036-facebook.png" alt="facebook" width="90em" height="90em"></a></div>
	<!--	Twitter link -->
			<div class="iconPadding"><a href="https://twitter.com/trailerparkboys"  target="_blank">
				<img src="social-media-logos/png/008-twitter.png" alt="twitter" width="90em" height="90em"></a></div>
	<!--	Instagram link -->
			<div class="iconPadding"><a href="https://www.instagram.com/trailerparkboysofficial" target="_blank">
				<img src="social-media-logos/png/029-instagram.png" alt="instagram" width="90em" height="90em"></a></div>
		</div>
	</div>
</footer>
